<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Realstate{% endblock %}</title>
        {% block stylesheets %}          
            {% include "::communStyleSheet.html.twig" %}          
        {% endblock %}
        {% block javascripts %}  
            {% include "::communJavaScript.html.twig" %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="wrapper">
            <div class="center">
                <div class="header">
                    <div class="logo">
                        <a href="{{ path('ag_im_agence_homepage') }}">
                            <img src="{{ asset('bundles/agimagence/images/logo.png') }}" />
                        </a>
                    </div>
                    <div class="search">

                    </div>
                </div>
                <nav>
                    <li class="menu">
                        <a href="#">Immobilier Horizon</a>
                    </li>
                    <li class="menu">
                        <a href="#">Acheter</a>
                    </li>
                    <li class="menu">
                        <a href="#">Vendre</a>
                    </li>
                    <li class="menu">
                        <a href="#">Investir</a>
                    </li>
                    <li class="menu">
                        <a href="#">Contact</a>
                    </li>

                </nav>
                <div class="content">
                    <div class="content-top">
                        <div class="slideshow">
                        </div>
                        <div class="mod-recherche">
                            <form action="">
                                Localisation<br>
                                <input type="text" name="location"><br>
                                Type de bien<br>                        
                                <input type="text" name="LastName"><br>
                                Pièces<br>                        
                                <input type="text" name="LastName"><br>
                                Salles de bain<br>                        
                                <input type="text" name="LastName"><br>
                                Environnement<br>                        
                                <input type="text" name="LastName"><br>
                                Prix<br>                        
                                <input type="text" name="LastName"><br>
                                <input type="submit" value="Trouver des biens">
                            </form>
                        </div>
                    </div>
                {% block body %}{% endblock %}


            </div>
        </div>

        <div class="footer">
            <div style="margin:0 auto;width:930px; bordre:1px solid red;">
                <div class="lire-more">
                    <a>Immobilier Horizon</a> | <a>Acheter | </a> <a>Vendre | </a><a>Investir  | </a> <a>Contact</a> 
                </div>
                <div class="reseaux">
                    <a href="#" class="reseau1"></a>
                    <a href="#" class="reseau2"></a>
                    <a href="#" class="reseau3"></a>
                    <a href="#" class="reseau4"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
