{% extends '::base.html.twig' %}

{% block body -%}
                   <div class="content-bas">
                    <h4>Deniérres Annances</h4>
                    <div class="annance-detail">
                      
                         <img src="{{ asset('bundles/agimagence/images/1.png') }}" />
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 150
                        </p>
                        <a class="savoir">En savoir plus</a>
                    </div>
                    <div class="annance-detail">
                        <img src="{{ asset('bundles/agimagence/images/2.png') }}" />
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 150
                        </p>
                        <a class="savoir">En savoir plus</a>
                    </div>
                    <div class="annance-detail">
                       <img src="{{ asset('bundles/agimagence/images/3.png') }}" />
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 150
                        </p>
                        <a class="savoir">En savoir plus</a>
                    </div>
                    <div class="annance-detail">
                       <img src="{{ asset('bundles/agimagence/images/4.png') }}" />
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 150
                        </p>
                        <a class="savoir">En savoir plus</a>
                    </div>

                </div>
{% endblock %}