body{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#535353;
	background:url(../../Resources/public/css/images/bg-body.png) center top repeat-x;
}
.center{
	width:930px;
	min-height:830px;

	margin:0 auto;

}
.logo{
  float: left;
    height: 58px;
    width: 234px;;
}
.header{
	height:80px; 
}
.search{
	 background: url("../../Resources/public/bundles/agimagence/images/bg-search.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 32px;
    margin-top: 14px;
    width: 220px;
}
nav{
	height:30px;
	margin:0px;
	
}
nav li{
	display:inline-block;
	width:auto;
	padding:0 5px;
	margin-left:30px;
}
.content{
	padding:5px;

	float:left;
	width:100%;
	min-height:800px;
	
}
.content-top{
	height:375px;

}
.content-bas{
	height:318px;
	border:1px red;
}
h4{
color:#095484;
font-family:Verdana, Geneva, sans-serif;
font-weight:bold;
font-size:18px;	
}
.slideshow{
	height:370px;
	width:700px;
	float:left;
	background:url(../../Resources/public/css/images/slide1.png) no-repeat;
}
.mod-recherche{
	float:right;
	width:216px;
	height:367px;
	background:#5773b0;
}
.mod-recherche form{
	color:#fff;
	width:80%;
	margin-left:15px;
}
.annance-detail{
	width:25%;
	float:left;
}
.savoir{
   background: none repeat scroll 0 0 #00477f;
    color: #fff;
    display: block;
    float: right;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 19px;
    text-align: center;
    width: 102px;
}
.footer{
	height:100px;
	background:url(../../Resources/public/css/images/bg-footer.png) repeat-x;
	
}